<%- include("partials/header"); -%>
    <h1 style="font-weight: bold;";">Contact Us</h1>
    <!-- <p> <%= contactContent %> </p> -->
    <div id="pDiv">
        <p>Pranav Phatale (19ME31021) <br> Final Year Under Greaduate student <br> Department of Mechanical
            Engineering <br> IIT Kharagpur <br>Mobile: 7479245495 <br>
            <address>Email : 
                <a href="mailto:pranavphatale1@gmail.com">pranavphatale1@gmail.com</a>
            </address>
            <!-- Email : pranavphatale1@gmail.com -->
        </p>
    </div>
    <%- include("partials/footer"); -%>